* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Slab', serif;

    background: linear-gradient(to right, #9fdef7, #6d98a8);
}

.container {
    width: 500px;
    height: 900px;
    box-shadow: 20px 20px 50px rgba(63, 63, 63, 0.5);
    border-radius: 30px;
    background: rgb(238, 238, 238);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.profile {
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 25px;
}

.avatar {
    border-radius: 50%;
    width: 125px;
    height: 125px;

    overflow: hidden;
    position: relative;
}
  
.avatar img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.infos {
    text-align: center;
}

.nome {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.local {
    color:#a5a5a5 ;
    margin-bottom: 5px;
}

.local img {
    width: 13px;
    height: 13px;
}

.funcao {
    font-weight: 500;
}

.upgrade {
    height: 50px;
    border-radius: 24px;
    color: #f7f7f7;
    background-color: #e75c96;
    padding: 0px 20px;

    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    
    border: none;
    cursor: pointer;
    transition: filter 0.3s;
}

.upgrade:hover {
    filter: brightness(0.9);
}

.settingsWrapper{
    width: 500px;
    height: 500px;
    border-radius: 30px;
    background: #fff
}

.settings {
    margin: 15px 30px;
}

.settingTitle {
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    margin-bottom: 35px;
}

.settingsRow {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.settingsRow + .settingsRow {
    margin-top: 10px;
}

.settingsBtn {
    margin-left: auto;
}

.settingsRow.specialMargin {
    margin-top: 35px;
}

.settingsIcon img, .settingsBtn img {
    width: 30px;
}

.settingsLabel {
    font-size: 18px;
    margin-left: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #1fe44a;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #1fe44a;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}


.goBack {
    position: absolute;
    top: 45px;
    left: 20px;
}

.goBack img {
    width: 45px;
}





